@model MySearch.Models.SearchRequest
@{
    ViewData["Title"] = "History";
}


<h1>@ViewData["Title"]</h1>
<div>
    <partial name="_SearchForm" />
</div>
@if (Model != null)
{
    <div>
        <partial name="_SearchResults" />
    </div>
}

